<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <br/>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image" style="height:140px">
                                <img class="img-circle img-responsive" src="img/about/action-aid.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>October 2022- Present</h5>
                                    <h4 class="subheading">Action Aid, Lazimpat</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Global justice federation working to achieve social justice, gender equality, and poverty eradication.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/toggle-corp.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>May 2022- September 2022</h5>
                                    <h4 class="subheading">Toggle Corp, Kumaripati</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The company carries out humanitarian-driven secondary data reviews with a focus on qualitative data research, report writing, and data analysis.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image" style="height:145px">
                                <img class="img-circle img-responsive" src="img/about/reaping-health.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>June 2022 - September 2022</h5>
                                    <h4 class="subheading">Reaping Hope, Bouddha</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Non- profit organization, working to deliver better services in the areas of Livelihood, Education, and Health in development as well as humanitarian contexts, mobilizing youth power.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nphf.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>September 2021- March 2021</h5>
                                    <h4 class="subheading">Nepal Public Health Foundation, Baluwatar </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A non-profit organization established with a mission to have concerted public health action, research, and policy dialogue for health development, particularly of the socio-economically marginalized population, and with a goal to ensure Civil Society’s pro-active intervention in public health.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/aarthachyam.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5>October 2021 - December 2021)</h5>
                                    <h4 class="subheading">Arthachyam, Online</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Organization established with the objective  to make economic systems inclusive through financial literacy, bolstering entrepreneurial wave and research for problem-solving</p>
                                    <p class ="text-muted">Publication : <a href="https://arthachyam.org/wp-content/uploads/2022/02/Supply-Chain-of-Medicines-in-Nepal-1.pdf" target="_blank">Pharmaceutical Industry in Nepal</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>